<div class="jumbotron text-center" style="margin-bottom: 0px">
  <h1 class="display-4 "> <img src="https://image.flaticon.com/icons/png/512/110/110479.png" width="64" height="64">HOTEL SKYLINE</h1>
  <p class="lead">O melhor e o maior hotel do mundo. Venha conhecer esse luxuoso lugar e único paraíso na terra. Veja o mundo do topo.</p>
  <hr class="my-4">
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Endereço de email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Assunto do email</label>
    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Assunto">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Escreva o que desejar</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>

</div>