<div class="jumbotron text-center" style="margin-bottom: 0px">
  <h1 class="display-4 "> <img src="https://image.flaticon.com/icons/png/512/110/110479.png" width="64" height="64">HOTEL SKYLINE</h1>
  <p class="lead">O melhor e o maior hotel do mundo. Venha conhecer esse luxuoso lugar e único paraíso na terra. Veja o mundo do topo.</p>
  <hr class="my-4">
  <p>Reserve já um apartamento com nossos sistema online.</p>
  <a routerLink="/reservar" class="btn btn-primary btn-lg" href="#" role="button" style="margin-bottom: 25px">Reservar agora</a>

 <!-- Informações sobre o hotel -->
<ul class="list-unstyled">
  <li class="media container border border-dark rounded">
    <img src="https://cdn4.iconfinder.com/data/icons/Copenhagen/PNG/64x64/home.png" class="mr-3" alt="0">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Sinta-se em casa</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4 container border border-dark rounded-lg">
    <img src="http://individual.icons-land.com/IconsPreview/POI/PNG/Circled/256x256/Hotel_Bed3D_Circle_Red.png" class="mr-3" alt="1" height="64" width="64">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Otimas camas e lugares de lazer</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media container border border-dark rounded ">
    <img src="https://images.sftcdn.net/images/t_app-logo-l,f_auto,dpr_auto/p/e4084763-2de9-4141-b181-ba79ddb4f406/4146308697/life-me-family-security-icon.jpg" class="mr-3" alt="2">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Na melhor localização possivel</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>
</div>