<!-- Jumbotron - Header da página -->
<div class="jumbotron text-center" style="margin-bottom: 0px">
    <h1 class="display-4 "> <img src="https://image.flaticon.com/icons/png/512/110/110479.png" width="64" height="64">HOTEL SKYLINE</h1>
    <p class="lead">O melhor e o maior hotel do mundo. Venha conhecer esse luxuoso lugar e único paraíso na terra. Veja o mundo do topo.</p>
    <hr class="my-4">
    <p>Reserve já um apartamento com nossos sistema online.</p>
    <a routerLink="/reservar" class="btn btn-primary btn-lg" href="#" role="button">Reservar agora</a>
  </div>
  <!-- Carrousel - Passador de Slides com imagem -->
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/panoramica.jpg" class="d-block w-100" alt="1" width="500" height="500">
          <div class="carousel-caption d-none d-md-block bg-dark rounded" style="opacity: 0.7">
            <h5>Hotel Skyline</h5>
            <p>O melhor hotel do Brazil, o único 100 estrelas</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/Cobertura.jpg" class="d-block w-100" alt="2" width="500" height="500">
          <div class="carousel-caption d-none d-md-block bg-dark rounded" style="opacity: 0.7">
            <h5>O hotel mais alto do mundo</h5>
            <p>Com mais de um 1Km de altura, mais perto das estrelas.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/complexo.jpg" class="d-block w-100" alt="3" width="500" height="500">
          <div class="carousel-caption d-none d-md-block bg-dark rounded" style="opacity: 0.7">
            <h5>Satisfação, acomodação e realização</h5>
            <p>Venha passar uma noite em nossas acomodaões para nunca mais esquecer.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
   <!-- Coleção de Cards -->
      <div class="jumbotron" style="margin: 0px; text-shadow: 3">
      <div class="container" style="margin: 0px; text-shadow: 3;padding: 30px">Veja as últimas atualizações sobre o Skyline:</div>
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Maior hotel</h5>
        <p class="card-text">Está no GUINNES BOOK OFICIALMENTE;</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>É uma pena que não tenha triplex.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Lula Molusco em <cite title="Título da fonte">Twinter</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Riquinho</h5>
        <p class="card-text">Vou comprar esse arranhacéu.</p>
        <p class="card-text"><small class="text-muted">Atualizados 12 horas atrás</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Já subi lugares mais altos.</p>
        <footer class="blockquote-footer">
          <small>
            KingKong em <cite title="Título da fonte">ZOO</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Josérickson</h5>
        <p class="card-text">Este hotel é fuleiro, nunca vi hotel igual esse nem aqui nem na china.</p>
        <p class="card-text"><small class="text-muted">Atualizados 5 dias atrás</small></p>
      </div>
    </div>
    <div class="card">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Uma ótima torre quase bati meu avião.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Bin Laden em <cite title="Título da fonte">AlQaeda</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Recomendo! Amei esse hotel</h5>
        <p class="card-text">Melhor hotel que já existe.</p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
  </div>
      </div>
